{% extends "admin/model/edit.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='codemirror-v3/doc/docs.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='codemirror-v3/lib/codemirror.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='codemirror-v3/theme/eclipse.css')}}">
    <script src="{{url_for('static', filename='codemirror-v3/lib/codemirror.js')}}"></script>
    <script src="{{url_for('static', filename='codemirror-v3/addon/edit/matchbrackets.js')}}"></script>
    <script src="{{url_for('static', filename='codemirror-v3/mode/python/python.js')}}"></script>

{% endblock %}

{% block tail %}
    {{ super() }}
<script>
var editor = CodeMirror.fromTextArea(document.getElementById("content"), {
    mode: {name: "python",
           version: 2,
           singleLineStringErrors: false},
    lineNumbers: true,
    indentUnit: 4,
    matchBrackets: true,
    theme:"eclipse"
});
</script>


{% endblock %}